---
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # min_auth_mode: ${ 'WPA2' if esphome.device_info.architecture == "esp32" || esphome.device_info.architecture == "esp8266" else {} }
  domain: ".lan"
  ap:
    ssid: "${name}"
    password: !secret ap_password

captive_portal:

sensor:
  - platform: wifi_signal
    name: ${friendly_name} Wifi Signal Strength
    update_interval: 90s
    entity_category: "diagnostic"

text_sensor:
  - platform: wifi_info
    ssid:
      name: ${friendly_name} Connected SSID
    ip_address:
      name: ${friendly_name} IP Address
    dns_address:
      name: ${friendly_name} DNS Address
