---
wifi_ssid: "{{ ENV.WIFI_SSID }}"
wifi_password: "{{ ENV.WIFI_PASSWORD }}"
latitude: "{{ ENV.LATITUDE }}"
longitude: "{{ ENV.LONGITUDE }}"
ap_password: "{{ ENV.AP_PASSWORD }}"
ecobee_api_key: "{{ ENV.ECOBEE_API_KEY }}"
basement_lights_encryption_key: "{{ ENV.BASEMENT_LIGHTS_ENCRYPTION_KEY }}"
basement_lights_ota_password: "{{ ENV.BASEMENT_LIGHTS_OTA_PASSWORD }}"
basement_wall_outlet_encryption_key: "{{ ENV.BASEMENT_WALL_OUTLET_ENCRYPTION_KEY }}"
basement_wall_outlet_ota_password: "{{ ENV.BASEMENT_WALL_OUTLET_OTA_PASSWORD }}"
bathroom_fan_encryption_key: "{{ ENV.BATHROOM_FAN_ENCRYPTION_KEY }}"
bathroom_fan_ota_password: "{{ ENV.BATHROOM_FAN_OTA_PASSWORD }}"
desk_clock_encryption_key: "{{ ENV.DESK_CLOCK_ENCRYPTION_KEY }}"
desk_clock_ota_password: "{{ ENV.DESK_CLOCK_OTA_PASSWORD }}"
desk_lamp_encryption_key: "{{ ENV.DESK_LAMP_ENCRYPTION_KEY }}"
desk_lamp_ota_password: "{{ ENV.DESK_LAMP_OTA_PASSWORD }}"
display_epaper_1_encryption_key: "{{ ENV.DISPLAY_EPAPER_1_ENCRYPTION_KEY }}"
display_epaper_1_ota_password: "{{ ENV.DISPLAY_EPAPER_1_OTA_PASSWORD }}"
garden_control_encryption_key: "{{ ENV.GARDEN_CONTROL_ENCRYPTION_KEY }}"
garden_control_ota_password: "{{ ENV.GARDEN_CONTROL_OTA_PASSWORD }}"
kitchen_sink_light_switch_encryption_key: "{{ ENV.KITCHEN_SINK_LIGHT_SWITCH_ENCRYPTION_KEY }}"
kitchen_sink_light_switch_ota_password: "{{ ENV.KITCHEN_SINK_LIGHT_SWITCH_OTA_PASSWORD }}"
lilygo_lora32_915mhz_encryption_key: "{{ ENV.LILYGO_LORA32_915MHZ_ENCRYPTION_KEY }}"
lilygo_lora32_915mhz_ota_password: "{{ ENV.LILYGO_LORA32_915MHZ_OTA_PASSWORD }}"
poe_bluetooth_proxy_encryption_key: "{{ ENV.POE_BLUETOOTH_PROXY_ENCRYPTION_KEY }}"
poe_bluetooth_proxy_ota_password: "{{ ENV.POE_BLUETOOTH_PROXY_OTA_PASSWORD }}"
sonoff_1_encryption_key: "{{ ENV.SONOFF_1_ENCRYPTION_KEY }}"
sonoff_1_ota_password: "{{ ENV.SONOFF_1_OTA_PASSWORD }}"
sonoff_2_encryption_key: "{{ ENV.SONOFF_2_ENCRYPTION_KEY }}"
sonoff_2_ota_password: "{{ ENV.SONOFF_2_OTA_PASSWORD }}"
