substitutions:
  button_1_pin: GPIO19
  relay_1_pin: GPIO18
  led_pin:
    number: GPIO05
    inverted: true
  hlw8012_sel_pin:
    number: GPIO02
    inverted: true
  hlw8012_cf_pin: GPIO04
  hlw8012_cf1_pin: GPIO03

packages:
  base: !include ../common/base.yaml

esp32:
  variant: esp32c3
  framework:
    type: esp-idf

output:
  - platform: gpio
    pin: $relay_1_pin
    id: relay_1

switch:
  - platform: gpio
    pin: $led_pin
    id: onboard_led

binary_sensor:
  - platform: gpio
    pin: $button_1_pin
    id: button_1
    filters:
      - delayed_off: 50ms

sensor:
  - platform: hlw8012
    id: power_sensor
    sel_pin: $hlw8012_sel_pin
    cf_pin: $hlw8012_cf_pin
    cf1_pin: $hlw8012_cf1_pin
    current:
      name: "${friendly_name} Current"
    voltage:
      name: "${friendly_name} Voltage"
    power:
      name: "${friendly_name} Power"
    energy:
      name: "${friendly_name} Energy"
    update_interval: 60s
