---
substitutions:
  status_led_pin: "19"
  output_relay_pin: "26"
  onboard_button_pin: "00"
  input_pin: "27"
  device_comment: "Sonoff MiniR4 Extreme"

packages:
  base: !include ../common/base.yaml

esp32:
  board: esp32dev
  framework:
    type: arduino

status_led:
  pin:
    number: ${status_led_pin}
    inverted: true

output:
  # Physical relay on GPIO
  - platform: gpio
    pin: $output_relay_pin
    id: relay

binary_sensor:
  - platform: gpio
    pin: $onboard_button_pin
    id: button
    filters:
      - invert:
      - delayed_off: 50ms

  - platform: gpio
    pin: $input_pin
    id: input
    filters:
      - invert:
      - delayed_off: 50ms
