substitutions:
  device_name: desklamp
  name: ${device_name}
  friendly_name: "Desk Lamp"
  api_encryption_key: !secret desk_lamp_encryption_key
  ota_password: !secret desk_lamp_ota_password

packages:
  device_base: !include ./devices/sonoff-minir4-extreme.yaml
  config_base: !include ./common/base.yaml
  bluetooth_proxy: !include ./components/bluetooth-proxy.yaml
  # ble_tracker: !include ./components/ble-tracker.yaml

light:
  - platform: binary
    id: light_1
    name: ${friendly_name}
    icon: mdi:desk-lamp
    restore_mode: restore_default_off
    output: relay

binary_sensor:
  - id: !extend button
    on_press:
      - light.toggle:
          id: light_1
  - id: !extend input
    on_press:
      - light.toggle:
          id: light_1
time:
  - platform: sntp
    id: sntp_time
    timezone: America/Detroit
    on_time:
      - seconds: 0
        minutes: 30
        hours: 8
        then:
          - light.turn_on: light_1
      - seconds: 0
        minutes: 00
        hours: 21
        then:
          - light.turn_off: light_1
