substitutions:
  # Settings - Editable values
  name: "nspanel"
  friendly_name: "Sonoff NSPanel"
  device_comment: "Sonoff NSPanel display"
  wifi_ssid: !secret wifi_ssid
  wifi_password: !secret wifi_password
  nextion_update_url: "http://homeassistant.local:8123/local/nspanel_us.tft"  # Optional


<<: !include common/base.yaml

packages:
  remote_package:
    url: https://github.com/Blackymas/NSPanel_HA_Blueprint
    ref: main
    refresh: 300s
    files:
      - nspanel_esphome.yaml # Basic package
esp32:
  framework:
    type: esp-idf
