---
substitutions:
  name: sonoff-2
  friendly_name: Desk Lamp 2
  api_encryption_key: !secret sonoff_2_encryption_key
  ota_password: !secret sonoff_2_ota_password

packages:
  device: !include devices/sonoff-basic.yaml

light:
  - platform: binary
    id: light_1
    name: "$friendly_name Light"
    output: relay

binary_sensor:
  - id: !extend button
    on_press:
      - light.toggle: light_1

